body { /*Dit is de basis achtergrondkleur van mijn website*/
    background-image: url("Plaatjes/Glitter.webp");
}

ul{ /*Opmaak menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: powderblue;
}

li { /*Positie menu*/
    float: left;
}

.active { /*Kleur menu*/
    background-color: pink;
}


li a{ /*Letters kleur van menu*/
    display: block;
    color: darkcyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: cursive;
}

.Kopjes{ /*Opmaakt Kopjes*/
    font-size:25px;
    font-family: cursive;
    color: darkcyan;
    margin-bottom:2px;
    background-color: pink;
    display: block;
    margin: 2px;
    padding: 5px;
    width: 15%;
}

img{ /*Positie afbeeldingen*/
    float: right;
}

.Kleurmodellen{ /*Opmaakt tekst kleurmodellen*/
    display: block;
    background-color:rgba(255, 196, 248);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.kleurmodellen2 { /*Opmaak tekst kleurmodellen*/
    display: block;
    background-color: rgb(255, 196, 248);
    margin-left: 1px;
    margin-right: 50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Kleurtjes { /*Afbeelding kleurmodellen opmaak*/
    border-color:rgb(254, 203, 255);
    border-style: solid;
    border-width: 5px;
}

.Spelletje{ /*Opmaak spelletje binairstelsel*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Binairstelsel1{ /*Opmaak binairstelsel*/
    display: block;
    background-color: rgb(190, 255, 237);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Binairstelsel2{ /*Opmaakt Binairstelsel tekst*/   
    display: block;
    background-color: rgb(190, 255, 237);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Binairstelsel3{ /*Opmaakt Binairstelsel tekst*/
    display: block;
    background-color: rgb(190, 255, 237);
    margin-left: 1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Binairstelsel4{ /*Opmaakt Binairstelsel tekst*/
    display: block;
    background-color: rgb(190, 255, 237);
    margin-left: 1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Binairstelsel5{ /*Opmaakt Binairstelsel tekst*/   
    display: block;
    background-color: rgb(190, 255, 237);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Afbeeldingbinairstelsel { /*Afbeelding binairstelsel opmaak*/
    margin-right: 20px;
    border-color: rgb(254, 203, 255);
    border-style: solid;
    border-width: 5px;
}


.Paardje{ /*Afbeelding Home opmaak*/
    border-color: rgb(254, 203, 255);
    border-style: solid;
    border-width: 5px;
}

.Home{ /*Opmaakt tekst home pagina*/
    display: block; 
    background-color: rgb(212, 242, 245);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Bitmapjes{ /*Opmaakt tekst Bitmap en Vector afbeeldingen*/
    display: block; 
    background-color: rgb(216, 174, 249);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Bitmapjes2{ /*Opmaakt tekst Bitmap en Vector afbeeldingen*/
    display: block; 
    background-color: rgb(216, 174, 249);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Bitmapjes3{ /*Opmaakt Binairstelsel tekst*/
    display: block; 
    background-color: rgb(216, 174, 249);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Vectorafbeelding{ /*Opmaak afbeelding vectorafbeeldingen*/
    border-color: rgb(254, 203, 255);
    border-style: solid;
    border-width: 5px;
    width: 240px;
    height: 330px;
    margin-right: 50px;
    font-family: cursive;
}

.Compressie{ /*Opmaakt tekst compressie*/
display: block; 
background-color: rgb(216, 174, 249);
margin-left:1px;
margin-right:50px;
padding: 5px;
width: 50%;
font-size: 17px;
font-family: cursive;
}