body { /*Dit is de basis achtergrondkleur van mijn website*/
    background-image: url("Plaatjes/Glitter.webp");
}

ul{ /*Opmaak menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: powderblue;
}

li { /*Positie menu*/
    float: left;
}

img {
    float:right;
}

.active { /*Kleur menu*/
    background-color: pink;
}


li a{ /*Letters kleur van menu*/
    display: block;
    color: darkcyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: cursive;
}

.Kopjes{ /*Opmaakt Kopjes*/
    font-size:25px;
    font-family: cursive;
    color: darkcyan;
    margin-bottom:2px;
    background-color: pink;
    display: block;
    margin: 2px;
    padding: 5px;
    width: 20%;
}

.Kleurmodellen{ /*Opmaakt tekst kleurmodellen*/
    display: block;
    background-color: rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.kleurmodellen2 { /*Opmaak tekst kleurmodellen*/
    display: block;
    background-color:  rgb(231, 217, 243);
    margin-left: 1px;
    margin-right: 50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
}

.Kleurtjes { /*Afbeelding kleurmodellen opmaak*/
    border-color: rgb(231, 217, 243);
    border-style: solid;
    border-width: 5px;
}

.Spelletje{ /*Opmaak spelletje binairstelsel*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Binairstelsel1{ /*Opmaak binairstelsel*/
    display: block;
    background-color:  rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Binairstelsel2{ /*Opmaakt Binairstelsel tekst*/   
    display: block;
    background-color:  rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Binairstelsel3{ /*Opmaakt Binairstelsel tekst*/
    display: block;
    background-color:  rgb(231, 217, 243);
    margin-left: 1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Binairstelsel4{ /*Opmaakt Binairstelsel tekst*/
    display: block;
    background-color:  rgb(231, 217, 243);
    margin-left: 1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Binairstelsel5{ /*Opmaakt Binairstelsel tekst*/   
    display: block;
    background-color: rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Afbeeldingbinairstelsel { /*Afbeelding binairstelsel opmaak*/
    margin-right: 20px;
    border-color:  rgb(231, 217, 243);
    border-style: solid;
    border-width: 5px;
}


.Paardje{ /*Afbeelding Home opmaak*/
    border-color:  rgb(231, 217, 243);
    border-style: solid;
    border-width: 5px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.Home{ /*Opmaakt tekst home pagina*/
    display: block; 
    background-color:  rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Bitmapjes{ /*Opmaakt tekst Bitmap en Vector afbeeldingen*/
    display: block; 
    background-color: rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Bitmapjes2{ /*Opmaakt tekst Bitmap en Vector afbeeldingen*/
    display: block; 
    background-color: rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Bitmapjes3{ /*Opmaakt Binairstelsel tekst*/
    display: block; 
    background-color: rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 35px;
}

.Vectorafbeelding{ /*Opmaak afbeelding vectorafbeeldingen*/
    border-color: rgb(231, 217, 243);
    border-style: solid;
    border-width: 5px;
    width: 240px;
    height: 330px;
    margin-right: 50px;
}

.Compressie{ /*Opmaakt tekst compressie*/
    display: block; 
    background-color:  rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 30px;
}

.Compressie2{ /*Opmaak tekst compressie*/
    display: block; 
    background-color:  rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 30px;
}

.Compressie3{ /*Opmaak tekst compressie*/
    display: block; 
    background-color:  rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 30px;
}

.Compressie4 { /*Opmaak tekst compressie*/
    display: block; 
    background-color:  rgb(231, 217, 243);
    margin-left:1px;
    margin-right:50px;
    padding: 5px;
    width: 50%;
    font-size: 17px;
    font-family: cursive;
    border-radius: 30px;
}

.Plaatjecompressie{ /*Opmaak afbeelding compressie*/
    border-color:  rgb(231, 217, 243);
    border-style: solid;
    border-width: 5px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.footer{ /*Ondertitel van website*/
    background-color: pink;
    color: white;
    text-align: center;
    margin-bottom: 100%;
    padding:10px;
 }

 .clearfix{
    content: "";
    display:table;
    clear:both;
 }