body { /*Dit is de basis achtergrondkleur van mijn website*/
    background-color: pink; 
}

ul{ /*Opmaak menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: powderblue;
}

li { /*Positie menu*/
    float: left;
}

li a{ /*Letters kleur van menu*/
    display: block;
    color: darkcyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active { /*Opmaak menu*/
    background-color: darkblue;
}

img{ /*Positie afbeeldingen*/
    float: right;
}

.Kleurmodellen{ /*Opmaakt tekst kleurmodellen*/
    Display: block;
    Background-color:rgba(242, 54, 220, 0.409);
    Margin: left:1px right:50px;
    Padding: 5px;
    width: 50%;
}

.Spelletje{ /*Opmaak spelletje binairstelsel*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Binairstelsel1{ /*Opmaak binairstelsel*/
    Display: block;
    Background-color: rgb(136, 243, 253);
    Margin: left:1px right:50px;
    Padding: 5px;
    Width: 50%
}

.Binairstelsel2{ /*Opmaakt Binairstelsel*/   
    Display: block;
    Background-color: rgb(63, 245, 193);
    Margin: left:1px right:50;
    Padding: 5px;
    Width: 50%
}

.Binairstelsel3{ /*Opmaakt Binairstelsel*/
    Display: block;
    Background-color: rgb(136, 243, 253);
    Margin: left: 1px right:50px;
    Padding: 5px;
    Width: 50%
}